@import url('https://fonts.googleapis.com/css2?family=Anton&family=RocknRoll+One&display=swap');

* {
  margin: 0;
  padding: 0;
  // text-decoration: none;
  // list-style: none;
  box-sizing: border-box;
  font-family: 'RocknRoll One', Tahoma, sans-serif;
  ::selection {
    background-color: #79611b;
  }
}

a {
  color: #d7ac2f;
  text-decoration: underline;
  transition: color 1s;
  &:hover {
    color: #ffde7c;
  }
}

@mixin gradient($color: #091833) {
  background-image: linear-gradient(
    170deg
    ,#000 10%
    ,$color 41%
    ,#18191d 80%
  );
}

body {
  @include gradient;
}

@keyframes fadeIn {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color: white;
  }
}